import React from "react"
import { ColumnContainer, ColumnTitle } from "./styles"

export const Column = () => {
  return (
    <ColumnContainer>
      <ColumnTitle>Column Title</ColumnTitle>
    </ColumnContainer>
  )
}
