import React from "react"
import { ColumnContainer } from "./styles"

interface ColumnProps {
  text: string
}

export const Column = ({ text }: ColumnProps) => {
  return (
    <ColumnContainer>
      <ColumnTitle>{text}</ColumnTitle>
    </ColumnContainer>
  )
}
