import React, { useState } from "react"

interface NewItemFormProps {
  onAdd(text: string): void
}

export const NewItemForm = ({ onAdd }: NewItemFormProps) => {
  const [text, setText] = useState("")

  return (
    <div>
      <input value={text} onChange={e => setText(e.target.value)} />
      <button onClick={() => onAdd(text)}>Create</button>
    </div>
  )
}
