import React from "react"
import { render, fireEvent } from "@testing-library/react"
import { ProductCard } from "./ProductCard"
import { Product } from "../shared/types"

describe("ProductCard", () => {
  it.todo("renders correctly")

  describe("when product is in the cart", () => {
    it.todo("the 'Add to cart' button is disabled")
  })

  describe("when product is not in the cart", () => {
    describe("on 'Add to cart' click", () => {
      it("calls 'addToCart' function")
    })
  })
})
