import React from "react"

describe("Cart", () => {
  describe("without products", () => {
    it.todo("renders empty cart message")

    describe("on 'Back to main page'", () => {
      it.todo("redirects to '/'")
    })
  })

  describe("with products", () => {
    it.todo("renders cart products list with total price")

    describe("on 'go to checkout' click", () => {
      it.todo("redirects to '/checkout'")
    })
  })
})
